{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
    <p>
        In the following experiment you have the opportunity to earn money depending on your behavior. 
        Please turn off your mobile phone and do not talk to other participants in the experiment. It is 
        very important that you follow these rules. If you have any question while reading these instructions 
        or during the experiment itself, we ask you to raise your hand. We will immediately answer your 
        question individually.
    </p>
    <p>
        During the experiment you have the opportunity to do a task. The task consists of encoding combinations 
        of letters (words) into numbers. In the task, three capital letters always yield a word. You have to 
        allocate a number to each capital letter. The encryption code can be found in a table below the corresponding 
        letter. The computer program randomly selects in the table a new set of three-digit numbers to be used 
        for the encoding of the capital letters. Additionally, the computer program shuffles the position of the 
        capital letters in the table. Please note that the program always uses all 26 capital letters of the
        German alphabet.
    </p>
    <p>
        To make an input please click on the blue box below the first capital letter.
    </p>
    <p>
        If all 3 numbers have been entered, please click the “Next” button. 
    </p>
    <p>
        You will only get paid for the words that are correctly solved.
    </p>
    <p>
        Please click on the "Next" button if you are ready to start the task. 
    </p>

    {% next_button %}

{% endblock %}
