{% extends "global/Page.html" %}

{% block title %}Wage Offer{% endblock %}
{% block content %}

    <p>
    You are <b>Employer</b>.  
    </p>

    <p> 
        How much will you offer to Worker for completing the previously seen word encoding task? 
    </p>
    <p>
        {% if policy == True %}
            Please enter a wage offer above {{ min_wage }}. 
        {% else %}
            Please enter a wage offer above {{ wage_low }}. 
        {% endif %}
    </p>
    <p>
        {{ form.offer }}
    </p>
    <p>
        {% next_button %}
    </p>

    {% include Constants.instructions_template %}

{% endblock %}
