{% extends "global/Page.html" %}

{% block title %}
    Welcome to LEEPS Online Laboratory!
{% endblock %}

{% block content %}
<p>
    Thank you for participating in this interactive decision-making experiment. 
</p>

<p>
    During the experiment, you will see a word encoding task and then be randomly and anonymously paired with another participant. 
    Then you will need to complete 20 rounds of the word encoding task. 
    Your payoff in this game depends on your decision from both matching and encoding task. 
    At the end of the experiment, your points will be converted to US dollars as your payment at the rate specified in the Zoom call. 
    You are guaranteed an additional show-up fee of $4.00 but can earn considerably more. 
</p>

<p>
    If you finish reading, please press next to read the instructions of the first task.
</p>
{% next_button %}

{% endblock %}
