{% extends "global/Page.html" %}

{% block title %}
    Welcome to LEEPS Online Laboratory!
{% endblock %}

{% block content %}
<p>
    Thank you for participating in this interactive decision-making experiment. 
</p>

<p>
    During the experiment, you will see a word encoding task and then be randomly and anonymously paired with another participant 
    in the matching round. Then in the encoding round, you will need to complete 15 rounds of the task you have seen earlier. 
    Your payoff in this game depends on your decision from matching round and encoding round. 
    At the end of the experiment, your points will be converted to US dollars as your payment at the rate specified in the Zoom call. 
    You are guaranteed an additional show-up fee of $2.00 but can earn considerably more. 
</p>

<p>
    If you finish reading, please press next to read the instruction of the first task.
</p>
{% next_button %}

{% endblock %}
