{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Practice Results
{% endblock %}

{% block content %}
    <p>
        You encoded {{ entry }} letters and {{ correct_entry }} of them are correct.  
    </p>
    <p>
        After seeing the word encoding task, you will be directed to the matching round, where you will be 
        randomly and anonymously paired with another participant.
    </p>
    <p>
        Please click on Next button if you are ready to see further instructions. 
    </p>
    
    {% next_button %}
{% endblock %}


