{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction (Word Encoding)
{% endblock %}

{% block content %}
    <p>
        During the experiment you have the opportunity to do a task. The task consists of encoding a list of alphabets into numbers. 
        Each alphabet has a unique three-digit number attached to it given in the encryption table below the task. 
        You have to allocate a number to each capital alphabet. 
        The computer program randomly selects in the table a new set of three-digit numbers to be used 
        for the encoding of the capital letters. 
        Additionally, the computer program shuffles the position of the capital letters in the table. 
        Please note that the program always uses all 26 capital letters of the alphabet.
    </p>
    <p>
        To make an input, please click on the text box below the first capital alphabet. 
        You can easily switch to the next box by using the <b>tab</b> key on your keyboard. 
        You will have 60 seconds to encode as many alphabets as you can. 
        The three-digit numbers in the encryption table are not selectable. 
    </p>
    <p>
        Then you will be randomly and anonymously matched with another participant, where one of you will be 
        selected at random to be <b>Employer</b>; the other will be <b>Worker</b>. The Employer is hiring a 
        Worker to complete the aforementioned encoding task by offer the Worker a wage. 
    </p>
    <p>
        Please click on the Next button if you are ready to see the task. 
    </p>

    {% next_button %}

{% endblock %}
