{% extends "global/Page.html" %}

{% block title %}
    Searched List
{% endblock %}

{% block content %}
<p><math>endowment = {{Constants.endowment}}</math>, <math>v<sub>H</sub> = {{Constants.value_high}}</math>, <math>v<sub>L</sub> = {{Constants.value_low}}</math>, <math>c = {{Constants.search_cost}}</math></p>
<table id='history' class='table'></table>
<button type='button' id='searchbutton'>Search</button>
<p></p>
<p>Purchase Decision</p>
<p>Please enter the product number that you want to purchse in the box below. </p>
<input id='purchaseinput' type='number'>
<button type='button' id='purchasebutton'>Purchase</button>
<script>
    let history = document.getElementById('history')
    let searchbutton = document.getElementById('searchbutton');
    let purchaseinput = document.getElementById('purchaseinput');
    let purchasebutton = document.getElementById('purchasebutton');

    var i = 1;
    function liveRecv(data) {
        if (data.type === 'game_finished') {
            document.getElementById("form").submit();
        }
        history.innerHTML += '<tr><td>' + 'Product ' + i + '\'s probability of being high quality is: ' + data.probability + '</td></tr>';
        i += 1
    }

    searchbutton.onclick = function () {
        console.log('send')
        liveSend({
            'type': 'search'
        })
    }

    purchasebutton.onclick = function () {
        liveSend({
            'type': 'purchase',
            'i': parseInt(purchaseinput.value)
        })
    }

</script>

{% endblock %}